body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 700px;
  height: 200px;
  padding: 10px;
  font-size: 20px;
  margin: 20px auto 20px;
}

.keyboard {
  width: 761px;
  height: 236px;
  margin: 0 auto;
  background: #57bc90;
  border: 2px solid #007849;
  border-radius: 6px;
}

.key {
  height: 40px;
  width: 40px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  background: #015249;
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
}

.key:active {
  background: #0cdb81;
}

.key:hover {
  background: #31dab2; 
}

.key-activated {
  background: #31dab2; 
}

.key-big {
  width: 122px;
}

.key-big-caps {
  width: 110px;
  font-size: 1rem;
}
.key-big-backspace {
  width: 110px;
  font-size: 1rem;
}

.key-space {
  width: 367px;
}

.descr {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.caps-active {
  background: orange;
}